*{
	margin: 0;
	padding: 0;
}
body{
	cursor: default;
}
table{
	border-collapse: collapse;
	font-family: "微软雅黑";
}
table th,td{
	border: 1px solid #D7D7D7;
	padding: 8px;
}
table thead{
	font-size: 14px;
	color: #505050;
	background-color: #EEEEEE;
}
table th{
	font-weight: bold;
}
table tbody{
	color: #666666;
	font-size: 14px;
}
table tbody .jjss{
	background-color: #F6F7F8;
}
table tbody tr:hover{
	background-color: #D2E4F6;
}
/*---------------------------------------------------------------------------------*/
.header {
	background-color: #000;
	//height: 5em;
	overflow: hidden;
	width: 100%;
}

.header h2{
	margin: 0;
	color: white;
	padding: 0;
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 1em;
	margin-top: 20px;
}

.header .subhead{
	color: white;
	font-family: "微软雅黑";
	font-size: 14px;
	overflow: hidden;
}
.header .subhead span{
	display: inline-block;
	float: right;
	margin-right: 10px;
}

.header .subhead .logout:hover{
	color: #1BD9DA;
}

.footer {
	text-align: center;
	color: #ced4d9;
	margin-top: 5px;
	border-top: 1px solid  #ced4d9;
}

.footer div{
	font-size: 0.9em;
	margin-top: 10px;
}

/*-------------------------------NAVBAR-------------------------------------*/
.navbar{
	overflow: hidden;
	background-color: #626262;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 3px solid #1BD9DA;
}
.navbar ul{
	list-style-type: none;
}
.navbar ul li{
	display: inline;
	//background-color: #63E0E4;
	float: left;
	width: 120px;
	padding: 4px;
	text-align: center;
}
.navbar ul .clicked{
	background-color: #1BD9DA;
}
.navbar ul li:hover{
	background-color: #1BD9DA;
}

/*-----------------------------------HOME-----------------------------------*/
.home-page {
	margin-left: 20px;
	display: none;
}
.home-page h3{
	color: #555555;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.home-page .wdbzgz{
	margin-bottom: 20px;
}

.home-page .child{
	display: none;
}


/*---------------------------------------------------------------------*/
.query{
	display: none;
	overflow: hidden;
}
.query .sidebar{
	width: 160px;
	border: 1px solid #949696;
	cursor: default;
	float: left;
	overflow: auto;
	height: 800px;
	background-color: #E1E0E0;
}
.query .sidebar span{
	display: block;
	//text-align: center;
}
.query .sidebar .selected{
	font-weight: bold;
}
.query .sidebar .layer1 > span{
 	border: 1px solid #E8E8E8;
 	padding-left: 10px;
}

.query .sidebar .layer1 > span:hover{
	border: 1px solid #9EEFEA;
}

.query .sidebar .layer2 > span{
	padding-left: 10px;
}
.query .sidebar .layer3 > span{
	padding-left: 15px;
}

.query .sidebar .leaf > span{
	background-color: white;
}
.query .sidebar .content{
	padding: 4px;
	background-color: white;
	text-align: center;
	display: none;
}
.query .sidebar .week .content input{
	width: 45px;
}
.query .sidebar .week .content .year{
	width: 60px;
}


.query .result{
	
}
.query .result .ztl{
	text-align: right;
	background-color: #F2F2F2;
}
.query .result .ztl .ssp{
	margin-right: 10px;
	font-size: 14px;
}
.query .result .ztl button{
	border: 1px solid #DADADA;
	background-color: white;
	border-radius: 4px;
	font-size: 14px;
	padding: 2px;
	margin-right: 6px;
}
.query .result .ztl button:hover{
	color: #0074D9;
}
.query .result .ztl .totalPage, .totalCount, .pageIndex{
	color: #BB0000;
}

.query .result .box .asce{
	background: linear-gradient(#4C9ED9, #EEEEEE, #EEEEEE);
}

.query .result .box .desc{
	background: linear-gradient(#EEEEEE, #EEEEEE, #4C9ED9);
}

/*------------------------------------ADD_ZB--------------------------------------*/
.add-zb{
	display: none;
	margin: 10px;
	font-family: "微软雅黑";
}
.add-zb h3{
	color: #555555;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.add-zb .edit{
	//width: 700px;
	//border: 1px solid #E0E2E3;
	padding: 10px;
	font-size: 14px;
	margin-bottom: 10px;
}


/*------------------------------------SJWH-------------------------------------*/
.sjwh{
	display: none;
}
.sjwh .dict{
	overflow: hidden;
}
.sjwh .dict div table{
	width: 160px;
}
.sjwh .dict div input{
	width: 160px;
}
.sjwh .dict div{
	width: 200px;
	float: left;
}
.sjwh .dict table tbody{
	height: 200px;
	overflow: auto;
}

/*-----------------------进度条---------------------------*/
.hyl-progress-bar{
	margin: 0;
	padding: 0;
    //width: 100px;
    //height: 10px;
    border: 1px solid #D7D7D7;
    //border-radius: 5px;
    text-align: left;
} 
.hyl-progress-bar .progress{
    background-color: #BAE0BA;
    //width: 40px;
    height: 100%;
    //border-radius: 5px;
}



















