*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    background-color: #D4D4D3;
}

.center{
    display: block;
    margin: 0 auto;
}

.login-box{
    margin: 0 auto;
    border: 1px solid black;
    width: 360px;
    text-align: center;

    h2{

    }
    #uid{
        
    }
    #pwd{
        
    }
    #login-btn{
        
    }
}