*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "helvetica neue",helvetica,arial,sans-serif;
    line-height: 1.3em;
}
legend{
    margin-left: 20px;
}
fieldset{
    border-right: none;
    border-left: none;
    border-bottom: none;
}


#top-menu{
    background-color: #000000;
    color: #9DA2A6;
    height: 1.8em;
    padding: 7px 20px 2px 25px;
    font-size: 0.9em;
    ul{
        list-style-type: none;
        text-align: left;
        li{
            display: inline-block;
            float: left;
            margin-right: 13px;
            cursor: pointer;
            &:hover{
                color: #FFFFFF;
            }
        }
        .selected{
            color: #FFFFFF;
        }
    }
}

#main{
    //margin: 5px 5px ;
    /*height: 20px;*/
    border: 1px solid red;
    font-size: 0.9em;

    .calendar{
        text-align: center;
         width: 1000px;
        .title{
            line-height: 2em;
            border: 1px solid black;

            .date_title{
                display: inline-block;
            }
            .mode_btn{
                display: inline-block;
                float: right;
            }
        }
        .cal_container{
            .cal_m_contain{
                table{
                    width: 100%;

                    td{
                        height: 160px;
                    }
                }
                .title{
                    th{
                        line-height: 1.4em;
                        font-size: 0.9em;
                        font-weight: normal;
                        text-align: left;
                        padding-left: 10px;
                        color: #BCC2CD;
                    }
                }
            }
        }
    }
}