body{
	margin: 0;
}

.cframe{
	margin: 0;
}

#iframe_top{
	width: 90%;
	height: 40px;
	background-color: #A2FF9B;

	float: right;
}

#iframe_left{
	width: 10%;
	height: 760px;
	//background-color: #F5FDCF;

	//display: inline-block;
	float: left;
	text-align: center;
}

#iframe_right{
	width: 90%;
	height: 700px;
	background-color: #A2AFFB;

	//display: inline-block;
	float: right;
}

h3{
	margin: 0;
}

#iframe_left div{
	margin: 0;
	padding: 10px 2px;
	//height: 20px;
	background-color: gray;
}