*{
	margin: 0;
	padding: 0;
}

.wrap {
	background-color: white;
}

.header {
	background-color: #000;
	height: 5em;
}

.header h2{
	margin: 0;
	color: white;
	padding: 0;
	font-size: 1.2em;
	position: relative;
	top: 27.5px;
	//margin-top:1.9em;
	margin-left: 1em;
}

.footer {
	text-align: center;
	color: #ced4d9;
	margin-top: 5px;
	border-top: 1px solid  #ced4d9;
}

.footer div{
	font-size: 0.9em;
	margin-top: 10px;
}

.body{
	margin-left: 20px;
}


.body table {
	border-collapse: collapse;
	//line-height: 1.5em;
	font-size: 15px;
}

.body table td,th{
	border: 1px solid #D7D7D7;
	padding: 5px;
}

.body thead{
	color: #505050
}

.body tbody{
	color: #666666;
}

.body .title{
	margin-top: 20px;
	margin-bottom: 20px;
}

.body .title .t1{
	font-size: 24px;
	font-weight: blod;
	margin-right: 30px;
}

.body .title .t2{
	font-weight: blod;
	//font-size: 22px;
}

.body .title .sz,.sz2{
	color: white;
	background-color: #3F3A36;
	margin-left: 1px;
	margin-right: 1px;
	padding: 3px;
	font-size: 18px;
}


.addw .edit{
	border: 1px solid #6F6660;
	padding: 5px;
	background-color: #E3E0DF;
	width: 800px;
}

.addw .edit fieldset{
	padding: 5px;
}

.addw .edit .btn{
	border: none;
	background: #E3E0DF;
	margin-left: 40px;
	font-size: 18px;

	//border: 1px solid red;
	width: 60px;
	height: 40px;
	border-radius: 10px;
}

.addw .edit .btn:hover{
	background-color: #EBB8A7;
	font-weight: bold;
}

.addw .edit .lab_1{
	width: 100px;
	display: inline-block;
	text-align: right;
}

.addw .edit .beizu{
	width: 700px;
	height: 100px;
}

.addw .add-btn{
	width: 100px;
	height: 30px;
	margin-top: 10px;
}