*{
    margin: 0;
    padding: 0;
    cursor: default;
}

#level1{
    display: none;
    background-color: #FBF1B4;
}

#level1 .unit{
    display: inline-block;
    margin: 15px;
    width: 80px;
    height: 80px;
}
#level1 .unbusy{
    background-color: #86FC8D;
}
#level1 .busy{
    background-color: #FE7B7B;
}
#level1 .unit .id{
    font-size: 12px;
}
#level1 .unit .title{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/*---------------------------------------------------------------------*/
#level2{
    /*display: none;*/
}
#level2 .head{
    width: 100%;
    height: 26px;
    background-color: black;
    color: white;
}


/*---------------------------------------------------------------------*/
#level3{
    display: none;
}
#level3 .bkg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #151515;
    opacity: 0.6;
}

#level3 .gitlog{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 600px;
    margin: -300px 0 0 -500px;
    background-color: #BED6EE;
    border-radius: 6px;
    padding: 6px;
}
#level3 .gitlog .title{
    height: 18px;
    line-height: 18px;
    margin-bottom: 6px;
}
#level3 .gitlog .wrap1{
    width: 100%;
    height: 574px;
    background-color: #F0F0F0;
    border-radius: 2px;
    border: 1px solid #828790;
}

#level3 .gitlog .wrap1 .log{
    width: 100%;
    //background-color: #C1D2F1;
    border-bottom: 1px solid #828790;
}
#level3 .gitlog .wrap1 .log .table-head{
    padding-right: 17px;
    background-color: #EEEEEE;
    color: #2996CC;
    font-size: 14px;
}
#level3 .gitlog .wrap1 .log .table-body{
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    font-size: 13px;
    color: #666666;
}
#level3 .gitlog .wrap1 .log table th, table td{
    border-left: 1px solid #D5D5D5;
    border-top: 1px solid #D5D5D5;
}
#level3 .gitlog .wrap1 .log .table-head table, .table-body table{
    width: 100%;
    border-collapse: collapse;
    border-right: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
}
#level3 .gitlog .wrap1 .log .table-body table tr:nth-child(2n+1){
    background-color: #F6F7F8;
}
#level3 .gitlog .wrap1 .log .table-body table tr:hover{
    background-color: #CFDBFD;
}


