/*------------------------------------------------------------------------*/
.hyl-popup-box{
	margin: 0;
	padding: 0;

	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.hyl-show{
	visibility: visible;	
}

.hyl-content{
	width: 100%;
	height: 100%;
	background-color: white;
	position: relative;
	border-radius: 5px;
}

.hyl-effect-1 .hyl-content{
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.hyl-show.hyl-effect-1 .hyl-content{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.hyl-popup-box .hyl-head{
	width: 100%;
	overflow: hidden;
	background-color: #E8E8E8;
	padding: 4px;
	margin-bottom: 10px;
}

.hyl-popup-box .hyl-head button{
	float: right;
}

.hyl-bokeh{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	visibility: hidden;
	z-index: 5;
	transition: all 0.2s;
}

.hyl-bokeh.hyl-show{
	opacity: 0.5;
	visibility: visible;
}

/*------------------------------------------------------------------------*/
.hyl-input{
	background:none;  
    outline:none;  
    border:0px;

    width: 100px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    padding: 2px;
}
.hyl-input:focus{
    border: 1px solid #3BB4F2;
    box-shadow: 0px 0px 3px #3BB4F2;
    transition: all 0.3s;
}

/*--------------------------------------------------------------------*/
.hyl-grid-thead *{
	margin: 0;
	padding: 0;
}
.hyl-grid-tbody *{
	margin: 0;
	padding: 0;
}

.hyl-grid-tbody td{
	border: 1px solid #D7D7D7;
}