/*------------------------------------------------------------------------*/
#je-popup-box-wrap{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	//height: 100%;
	//background-color: #70C693;
	//margin-top: 30px;
}