*{
	margin: 0;
	padding: 0;
}
body{
	cursor: default;
}
table{
	border-collapse: collapse;
	font-family: "微软雅黑";
}
table th,td{
	border: 1px solid #D7D7D7;
	padding: 8px;
}
table thead{
	font-size: 14px;
	color: #505050;
	background-color: #EEEEEE;
}
table th{
	font-weight: bold;
}
table tbody{
	color: #666666;
	font-size: 14px;
}
table tbody .jjss{
	background-color: #F6F7F8;
}
table tbody tr:hover{
	background-color: #D2E4F6;
}
/*---------------------------------------------------------------------------------*/
.header {
	background-color: #000;
	//height: 5em;
	overflow: hidden;
	width: 100%;
}

.header h2{
	margin: 0;
	color: white;
	padding: 0;
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 1em;
	margin-top: 20px;
}

.header .subhead{
	color: white;
	font-family: "微软雅黑";
	font-size: 14px;
	overflow: hidden;
}
.header .subhead span{
	display: inline-block;
	float: right;
	margin-left: 20px;
}

.footer {
	text-align: center;
	color: #ced4d9;
	margin-top: 5px;
	border-top: 1px solid  #ced4d9;
}

.footer div{
	font-size: 0.9em;
	margin-top: 10px;
}

/*-------------------------------NAVBAR-------------------------------------*/
.navbar{
	overflow: hidden;
	background-color: #626262;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 3px solid #1BD9DA;
}
.navbar ul{
	list-style-type: none;
}
.navbar ul li{
	display: inline;
	//background-color: #63E0E4;
	float: left;
	width: 120px;
	padding: 4px;
	text-align: center;
}
.navbar ul .clicked{
	background-color: #1BD9DA;
}
.navbar ul li:hover{
	background-color: #1BD9DA;
}

/*-----------------------------------HOME-----------------------------------*/
.home-page {
	margin-left: 20px;
	display: none;
}
.home-page h3{
	color: #555555;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.home-page .wdbzgz{
	margin-bottom: 20px;
}



/*---------------------------------------------------------------------*/
.query{
	display: none;
	overflow: hidden;
}
.query .sidebar{
	width: 200px;
	//background-color: #EDEDED;
	//border-left: 3px solid #1BD9DA;
	//border-right: 3px solid #1BD9DA;
	//border-bottom: 3px solid #1BD9DA;
	border: 1px solid #949696;
	cursor: default;
	float: left;
	overflow: auto;

	height: 700px;
}

.query .sidebar .yj{
	border-bottom: 1px solid #949696;
	padding: 2px;
	font-weight: bold;
	background-color: #C4C4C4;
}
.query .sidebar .ej{
	display: none;
	padding: 2px;
	padding-bottom: 8px;
	padding-top: 8px;
	border-bottom: 1px solid #949696;
}
.query .sidebar .yj:hover{
	background-color: #CCFFFF;
}
.query .sidebar .ej span{
	display: inline-block;
	cursor: pointer;
	padding: 1px;
	margin: 2px;
}
.query .sidebar .ej span[style="all"]{
	font-weight: bold;
}
.query .sidebar .ej span[style="unit"]{
	color: #6A6D6F;
}
.query .sidebar .ej .select{
	color: white;
	background-color: #094E4E;
}
.query .sidebar .ej span:hover{
	background-color: #CCFFFF;
}

.query .result{

}

/*------------------------------------ADD_ZB--------------------------------------*/
.add-zb{
	display: none;
	margin: 10px;
	font-family: "微软雅黑";
}
.add-zb h3{
	color: #555555;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.add-zb .edit{
	width: 700px;
	border: 1px solid #E0E2E3;
	padding: 10px;
	font-size: 14px;
	margin-bottom: 10px;
}
.add-zb .edit fieldset{
	padding: 5px;
	border: 1px solid #E0E2E3;
}
.add-zb .edit fieldset legend{
	color: #333333;
}
.add-zb .edit .zq{
	text-align: center;
}
.add-zb .edit .zq legend{
	text-align: left;
}
.add-zb .edit .zq button{
	width: 100px;
	height: 30px;
	margin: 0px 20px;
	border: none;
}
.add-zb .edit .zq .btn_clicked{
	background-color: #1BD9DA;
}
.add-zb .edit .sx div{
	margin: 5px 0px;
}
.add-zb .edit .sx label{
	display: inline-block;
}
.add-zb .edit .sx .lab{
	width: 100px;
	text-align: right;
	margin-right: 10px;
}
.add-zb .edit .sx .xlk select{
	width: 200px;
}
.add-zb .edit .sx .gzln input{
	width: 550px;
}
.add-zb .edit .bz textarea{
	width: 100%;
	height: 50px;
}
.add-zb .btn-submit{
	border: none;
	background-color: #2996CC;
	font-size: 12px;
	width: 56px;
	height: 30px;
	border-radius: 4px;
	color: white;
}
.add-zb .btn-update{
	font-size: 12px;
	border: none;
	background-color: white;
	color: #2996CC;
}
.add-zb .btn-submit:hover{
	background-color: #3DA0D1;
}
.add-zb .btn-update:hover{
	text-decoration: underline;
}
/*------------------------------------SJWH-------------------------------------*/
.sjwh{
	display: none;
}
.sjwh .dict{
	overflow: hidden;
}
.sjwh .dict div table{
	width: 160px;
}
.sjwh .dict div input{
	width: 160px;
}
.sjwh .dict div{
	width: 200px;
	float: left;
}
.sjwh .dict table tbody{
	height: 200px;
	overflow: auto;
}























