html{
    font: 15px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333;
}

*{
    margin: 0 auto;
}

a{
    text-decoration: none;
}

body > .head{
    background-color: #333;
}
body > .head > nav{
    width: 1000px;
}

.navbar{
    position: relative;
    padding: 8px 16px;
}
.navbar > a{
    color: #B0B0B0;
}
.navbar > a:hover{
    color: #fff;
    font-weight: bold;
    transition: color 0.5s;
    transition: font-weight 0.4s;
    //-webkit-transition: color 0.4s font-weight 0.4s;
}
.navbar > a.active{
    color: #fff;
    font-weight: bold; 
}

#hanq{
    width: 1000px;
    height: 600px;
    .sidebar{
        width: 0;
        height: 100%;
        background-color: #FBE0E0;
        float: left;
    };
    .show{
        width: 1000px;
        height: 100%;
        background-color: #F7FBE0;
        float: right;
    }
}
